body {
    background-color: #0d3b56 !important;
    justify-content: center !important;
    
}
.card {
    border-radius: 30px !important;
    padding: 50px;
    max-width: 500px;
    margin: 100px auto;
    
}
.toggle-btn {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}
.toggle-btn.active {
    color: #0099ff;
    border-bottom: 2px solid #0099ff;
    padding-bottom: 5px;
}
.form-container {
    display: none;
}
.form-container.active {
    display: block;
}
.form-container label{
    color: #0099ff;
}
.form-container input{
    border-color: #0099ff;
}
.btn-custom {
    background-color: #0099ff !important;
    color: white !important;
    font-weight: bold !important;
}